 <form class="d-flex" id="formHome">
        <input class="form-control me-2" type="search" placeholder="Entrez IMO or MMSI">
        <button class="btn btn-light me-2" type="submit">Cherche IMO</button>
        <button class="btn btn-light" type="submit">Cherche MMSI</button>
 </form>